# Some of these are related to eclipse. So i keep them out of my repo
chip8_emulator/.cproject
chip8_emulator/.dep/
chip8_emulator/.project
chip8_emulator/.settings/

# files being edited
chip8_emulator/*~

# make and build files
chip8_emulator/src/*.o

# Ignore build folder except scons, ignore debug folder
chip8_emulator/build/*
chip8_emulator/debug/*
chip8_emulator/!build/Sconstruct
chip8_emulator/!build/pong.ch8
